a{
  margin: 20px;
}

.float-rigth{
  float: right;
}

img {
  width: 300px;
  height: 200px;
}

.text{
  text-align: center;
  color: white;
  padding: 20px 15px 0px 15px;
}
p{
    color: black;
}

button {
  background-color: #446ae9;
  color: #FFF;
  padding: 10px;
}




@media (min-width: 769px){
  .principal{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: repeat(33, 1fr);
    grid-gap: 10px 15px;
    font-family: 'Lato', sans-serif;
  }

  .a{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      background-color: blue;
      color: #FFF;
      padding: 20px;
      font-weight:700;
  }


  .b{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 12;
      background-image: url("images/bautiful-tropical.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      color: #f8f6f6;
      font-size: 50px;
      font-weight:900;
  }

  .c{
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 12;
      grid-row-end: 22;
      background-color: #509edd;
      color:white;
  }

  .d{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 12;
      grid-row-end: 22;
      background-color: #ac6ae2;
      color:white;
  }

  .e{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 22;
      grid-row-end: 32;
      background-color: #89eec4;
      
  }

  .f{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 22;
      grid-row-end: 32;
      background-color: #58a4eb;
  }

  .g{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 22;
      grid-row-end: 32;
      background-color: #20c536;
  }

  .h{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 32;
      grid-row-end: 33;
      background-color: blue;
      color: #f8f6f6;
  }
}

@media (max-width: 768px){
  .grid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: repeat(63, 1fr);
    grid-gap: 10px 15px;
    font-family: 'Lato', sans-serif;
  }

  .a{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      background-color: blue;
      padding: 20px;
      font-weight:700;
  }


  .b{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 12;
      
      background-size: cover;
      background-repeat: no-repeat;
      color: #FFF;
      font-size: 50px;
      font-weight:900;
  }

  .c{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 12;
      grid-row-end: 22;
      background-color: #1e1bdd;
  }

  .d{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 22;
      grid-row-end: 32;
      background-color: #1e1bdd;
  }

  .e{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 32;
      grid-row-end: 42;
      background-color: #f2e7cb;
      
  }

  .f{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 42;
      grid-row-end: 52;
      background-color: #f2e7cb;
  }

  .g{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 52;
      grid-row-end: 62;
      background-color: #f2e7cb;
  }

  .h{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 62;
      grid-row-end: 63;
      background-color:blue;
  }
}
